.employee-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.75rem;

  word-break: break-word;
  overflow-wrap: anywhere;
}
mat-card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.name {
  font-size: 14px;
  margin-bottom: 0.75rem;
  flex-grow: 1;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.info-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}

.icon {
  color: #3f51b5;
  margin-right: 0.5rem;
  height: 14px;
  width: 14px;
  font-size: 14px;
}

mat-card-actions {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}
