<div class="controls">
    <app-sort-control [sortFields]="sortFields"
            [defaultSortField]="defaultSortField"
            [defaultSortOrder]="'asc'"
            (sortChange)="onSortChange($event)"></app-sort-control>
    <mat-paginator
            [length]="(dataSource.total$ | async) || 0"
            [pageSize]="defaultPageSize"
            [pageSizeOptions]="[6,12,24,48]">
    </mat-paginator>
</div>

<div class="cards-toolbar">
    <button mat-raised-button
            color="primary"
            (click)="onCreate()">
        New Employee
    </button>
</div>
<mat-progress-bar *ngIf="dataSource.loading$ | async"
        mode="indeterminate"></mat-progress-bar>
<div class="empty-state"
        *ngIf="(dataSource.total$ | async) === 0 && !(dataSource.loading$ | async)">
    <mat-icon>info</mat-icon>
    <span>No employees found.</span>
</div>
<div class="cards-grid">
    <app-employee-card
            *ngFor="let e of (dataSource.data$ | async); trackBy: trackByEmployeeId"
            [employee]="e"
            (edit)="onEdit($event)"
            (delete)="onDelete($event)">
    </app-employee-card>
</div>
