//.grid {
//  display: grid;
//  grid-template-columns: 1fr;
//  gap: 0.5rem;
//  padding: 0.75rem;
//}
//@media (min-width: 480px) {
//  .grid {
//    grid-template-columns: repeat(2, 1fr);
//  }
//}
//@media (min-width: 768px) {
//  .grid {
//    grid-template-columns: repeat(4, 1fr);
//    gap: 0.75rem;
//  }
//}
//@media (min-width: 1024px) {
//  .grid {
//    grid-template-columns: repeat(6, 1fr);
//    gap: 1rem;
//  }
//}
table {
  width: 100%;
}

.highlight {
  background-color: #e3f2fd;
}

.table-footer {
  margin-top: 16px;
  text-align: right;
}
