<!--<section class="grid">-->
<!--    <app-book-cart-->
<!--            *ngFor="let b of books?.items; trackBy: trackById"-->
<!--            [book]="b"-->
<!--            (remove)="onRemove($event)"-->
<!--            [class.highlight]="b.id === highlightId">-->
<!--        >-->
<!--    </app-book-cart>-->
<!--</section>-->

<table mat-table
        [dataSource]="books.items"
        class="mat-elevation-z8">
    <!-- ID -->
    <ng-container matColumnDef="id">
        <th mat-header-cell
                *matHeaderCellDef>ID
        </th>
        <td mat-cell
                *matCellDef="let b">{{b.id}}
        </td>
    </ng-container>

    <!-- Title -->
    <ng-container matColumnDef="title">
        <th mat-header-cell
                *matHeaderCellDef>Title
        </th>
        <td mat-cell
                *matCellDef="let b">{{b.title}}
        </td>
    </ng-container>

    <!-- Authors -->
    <ng-container matColumnDef="authors">
        <th mat-header-cell
                *matHeaderCellDef>Authors
        </th>
        <td mat-cell
                *matCellDef="let b">{{b.authorsString}}
        </td>
    </ng-container>

    <!-- Year -->
    <ng-container matColumnDef="publishedYear">
        <th mat-header-cell
                *matHeaderCellDef>Year
        </th>
        <td mat-cell
                *matCellDef="let b">{{b.publishedYear}}
        </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell
                *matHeaderCellDef>Actions
        </th>
        <td mat-cell
                *matCellDef="let b">
            <button mat-icon-button
                    color="primary"
                    matTooltip="Edit"
                    (click)="onEdit(b.id)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button
                    color="warn"
                    matTooltip="Delete"
                    (click)="onRemove(b.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
    <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns; trackBy: trackById"
            [class.highlight]="row.id === highlightId"
    ></tr>
</table>

<div class="table-footer">
    <button mat-raised-button
            color="accent"
            (click)="onCreate()">Add new book
    </button>
</div>
