.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem;
  border: 1px solid #e6e6e6;
  border-radius: 0.75rem;
  background: #fff;
  height: 100%;
}
.author {
  min-height: 1.5rem;
}
.title {
  font-size: 1.25rem;
}
.description {
  flex: 1;
  font-size: 1rem;
  text-align: left;
}
.actions {
  display: flex;
  gap: 0.5rem;
}
