<div class="card">
    <h3 class="title">{{book.title}}</h3>
    <h4 class="author">{{book.authorsString || '\u00A0'}}</h4>
    <div class="description">{{book.description}}</div>
    <div class="price">{{book.priceUsd | currency:'USD':'symbol':'1.0-2'}}</div>
    <div class="actions">
        <button type="button"
                class="btn edit"><span [routerLink]="['/book', book.id]">Edit</span>
        </button>
        <button type="button"
                class="btn delete"
                (click)="onRemove()">Delete
        </button>
    </div>
</div>
