:host {
  display: inline-flex;
  align-items: center;
}

.sort-control {
  display: inline-flex;
  align-items: baseline;
  gap: 8px;

  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 12px;
}

.mat-icon {
  font-size: 22px;
}

/* уменьшаем ширину выпадающего списка (панели mat-select) */
:host ::ng-deep .mat-select-panel {
  min-width: 120px !important; /* можно подстроить: 120–160px */
  width: 120px !important;
  max-width: 140px;
}

/* чтобы само поле было не шире */
.sort-select.mat-form-field {
  width: 120px;
  min-width: 100px;
}
